In [409]:
import pandas as pd
import numpy as np
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [410]:
na_values = {
    'JobsReported': ['']  # add more columns or values if needed
}
df = pd.read_csv('data/ppp_data_after_openrefine.csv', na_values=na_values)
original_df = pd.read_csv('data/ppp_data.csv', na_values=na_values)

In [411]:
df.head(10)

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,149957.5,Honolulu,HI,96813,238220.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,14.0,04/16/2020,First Hawaiian Bank,HI-01
1,149900.0,Honolulu,HI,96814,541990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,17.0,04/08/2020,First Hawaiian Bank,HI-01
2,149800.0,Honolulu,HI,96816,722511.0,Corporation,Asian,Male Owned,Non-Veteran,NaN,42.0,04/12/2020,Central Pacific Bank,HI-01
3,149800.0,Honolulu,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,27.0,05/27/2020,"American Savings Bank, FSB",HI-01
4,149700.0,Aiea,HI,96701,621111.0,Limited Liability Partnership,Unanswered,Unanswered,Unanswered,NaN,10.0,04/06/2020,"American Savings Bank, FSB",HI-01
5,149657.0,Captain Cook,HI,96704,721110.0,Corporation,Unanswered,Male Owned,Non-Veteran,NaN,NaN,04/16/2020,Bank of Hawaii,HI-02
6,149615.0,Honolulu,HI,96816,621210.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,NaN,04/11/2020,Bank of Hawaii,HI-01
7,149500.0,Kailua Kona,HI,96740,487110.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,18.0,04/09/2020,First Hawaiian Bank,HI-02
8,149455.0,Mililani,HI,96789,238990.0,Limited Liability Company(LLC),Unanswered,Male Owned,Unanswered,NaN,15.0,05/08/2020,Bank of Hawaii,HI-01
9,149400.0,Honolulu,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,33.0,04/10/2020,First Hawaiian Bank,HI-01

# Additional Cleaning

In [412]:
# Set JobsReported to Int64 to keep NaNs
df.loc[:, 'JobsReported'] = df['JobsReported'].astype('Int64')

In [413]:
# Replace all 0s in City with NaN
df.loc[df.City == '0', 'City'] = np.nan

# missed a '_' in OpenRefine so change that to NaN as well
df.loc[df.City == '_', 'City'] = np.nan

# also missed a "Suite 620"
df.loc[df.City == 'Suite 620', 'City'] = np.nan

In [414]:
# Convert NonProfit to Yes/No boolean type (NonProfit originally only consists of "Y" and "N/A")
df.loc[:, 'NonProfit'] = df['NonProfit'].fillna(False)
df.loc[:, 'NonProfit'] = df['NonProfit'].replace('Y', True)
df.loc[:, 'NonProfit'] = df['NonProfit'].astype(bool)

In [415]:
# Change the single 'OR-02' value in the CD column to NaN
df.loc[df.CD == 'OR-02', 'CD'] = np.nan
set(df['CD'])

{'HI-01', 'HI-02', nan}

In [416]:
# keep a copy of df without dropping NaNs for data summary purposes
df_no_drop_nans = df.copy(deep=True)

# Drop all rows with NaN
df = df.dropna()
df.head(10)

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,149957.5,Honolulu,HI,96813,238220.0,Corporation,Unanswered,Unanswered,Unanswered,False,14,04/16/2020,First Hawaiian Bank,HI-01
1,149900.0,Honolulu,HI,96814,541990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,True,17,04/08/2020,First Hawaiian Bank,HI-01
2,149800.0,Honolulu,HI,96816,722511.0,Corporation,Asian,Male Owned,Non-Veteran,False,42,04/12/2020,Central Pacific Bank,HI-01
3,149800.0,Honolulu,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,False,27,05/27/2020,"American Savings Bank, FSB",HI-01
4,149700.0,Aiea,HI,96701,621111.0,Limited Liability Partnership,Unanswered,Unanswered,Unanswered,False,10,04/06/2020,"American Savings Bank, FSB",HI-01
7,149500.0,Kailua Kona,HI,96740,487110.0,Corporation,Unanswered,Unanswered,Unanswered,False,18,04/09/2020,First Hawaiian Bank,HI-02
8,149455.0,Mililani,HI,96789,238990.0,Limited Liability Company(LLC),Unanswered,Male Owned,Unanswered,False,15,05/08/2020,Bank of Hawaii,HI-01
9,149400.0,Honolulu,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,False,33,04/10/2020,First Hawaiian Bank,HI-01
10,149400.0,Honokaa,HI,96727,722310.0,Corporation,Unanswered,Male Owned,Veteran,False,41,04/10/2020,FirstBank,HI-02
11,149392.0,Kilauea,HI,96754,722513.0,Corporation,Unanswered,Unanswered,Unanswered,False,0,05/11/2020,Central Pacific Bank,HI-02

In [417]:
# @BEGIN remove_invalid_cities
# @IN df  @AS removed_nan_data
# @OUT df  @AS removed_invalid_cities_data
# read in cities.csv
cities = pd.read_csv("data/cities.csv")

# create set of valid cities
valid_cities = cities["name"].to_list()

In [418]:
# remove all rows with invalid cities
df_with_invalid_cities = df.copy(deep=True)
df = df[df["City"].isin(valid_cities)]

# print differences
print(
    f"Number of rows with invalid cities: {len(df_with_invalid_cities) - len(df)}"
)

Number of rows with invalid cities: 31

In [419]:
# print some of the invalid cities
print(df_with_invalid_cities[~df_with_invalid_cities["City"].isin(valid_cities)].head(20))

       LoanAmount           City State    Zip  NAICSCode  \
248     138123.75           Kona    HI  96740   722511.0
2097     85300.00       Papaaloa    HI  96780   445110.0
2718     74800.00  Lahaina, Maui    HI  96761   448140.0
3581     62770.00   Kohala Coast    HI  96743   721110.0
4628     51882.50        Keauhou    HI  96740   236115.0
5394     45127.50       Kawaihae    HI  96743   236118.0
5999     40747.50       Honaunau    HI  96726   811490.0
6479     37500.00       Papaaloa    HI  96780   238320.0
7605     30852.00   Pearl Harbor    HI  96860   722511.0
8510     26500.00           Kona    HI  96740   611620.0
10961    20800.00        Keauhou    HI  96739   238220.0
11713    19112.50       Honaunau    HI  96726   561110.0
11857    18765.00         Kealia    HI  96751   541110.0
14888    11900.00        Keauhou    HI  96739   114119.0
15124    11442.00       Honaunau    HI  96726   238910.0
15134    11400.00   Pearl Harbor    HI  96860   453220.0
15356    11000.00         Hickam    HI  96853   722511.0
16149     9660.00       Honaunau    HI  96726   721191.0
17208     7862.00       Papaaloa    HI  96780   812990.0
17259     7750.00       Honaunau    HI  96726   111998.0

                         BusinessType RaceEthnicity      Gender      Veteran  \
248    Limited Liability Company(LLC)    Unanswered  Male Owned   Unanswered
2097         Subchapter S Corporation    Unanswered  Unanswered   Unanswered
2718                      Corporation    Unanswered  Unanswered   Unanswered
3581   Limited Liability Company(LLC)    Unanswered  Unanswered   Unanswered
4628         Subchapter S Corporation    Unanswered  Unanswered   Unanswered
5394   Limited Liability Company(LLC)    Unanswered  Unanswered   Unanswered
5999              Sole Proprietorship    Unanswered  Unanswered   Unanswered
6479              Sole Proprietorship    Unanswered  Unanswered   Unanswered
7605        Self-Employed Individuals    Unanswered  Male Owned  Non-Veteran
8510                      Corporation    Unanswered  Unanswered  Non-Veteran
10961             Sole Proprietorship    Unanswered  Unanswered   Unanswered
11713       Self-Employed Individuals    Unanswered  Unanswered   Unanswered
11857  Limited Liability Company(LLC)    Unanswered  Unanswered   Unanswered
14888                     Corporation    Unanswered  Unanswered   Unanswered
15124        Subchapter S Corporation    Unanswered  Unanswered   Unanswered
15134         Non-Profit Organization    Unanswered  Unanswered   Unanswered
15356             Sole Proprietorship    Unanswered  Unanswered   Unanswered
16149  Limited Liability Company(LLC)    Unanswered  Unanswered   Unanswered
17208             Sole Proprietorship    Unanswered  Unanswered   Unanswered
17259             Sole Proprietorship    Unanswered  Unanswered   Unanswered

      NonProfit  JobsReported DateApproved                      Lender     CD
248       False            34   04/28/2020               Northrim Bank  HI-02
2097      False            24   06/11/2020        Fountainhead SBF LLC  HI-02
2718      False             0   05/06/2020        Central Pacific Bank  HI-02
3581      False             6   04/28/2020            Hawaii First FCU  HI-02
4628      False             4   05/05/2020        Hawaii Community FCU  HI-02
5394      False             4   04/30/2020         First Hawaiian Bank  HI-02
5999      False             4   05/05/2020        Hawaii Community FCU  HI-02
6479      False             3   08/06/2020                  Optus Bank  HI-02
7605      False             7   07/08/2020            Cross River Bank  HI-01
8510      False             3   04/30/2020      Seacoast Commerce Bank  HI-02
10961     False             1   06/30/2020             First Home Bank  HI-02
11713     False             1   05/07/2020         First Hawaiian Bank  HI-02
11857     False             1   04/27/2020         First Hawaiian Bank  HI-02
14888     False             2   04/28/2020        Central Pacific Bank  HI-02
15124     False             2   04/30/2020            Cross River Bank  HI-02
15134      True             9   04/29/2020         First Hawaiian Bank  HI-01
15356     False             1   04/09/2020  American Savings Bank, FSB  HI-01
16149     False             4   04/27/2020         First Hawaiian Bank  HI-02
17208     False             0   07/28/2020            Cross River Bank  HI-02
17259     False             2   04/28/2020            Hawaii First FCU  HI-02

In [433]:
# create set of valid zipcodes
# read in Zip_Codes.csv
zipcodes = pd.read_csv("data/Zip_Codes.csv")
valid_zipcodes = zipcodes["ZIP"].to_list()

In [437]:
# find rows with invalid zipcodes not in valid_zipcodes
invalid_zipcodes = df[~df["Zip"].isin(valid_zipcodes)]
print(f"Number of rows with invalid zipcodes: {len(invalid_zipcodes)}")
invalid_zipcodes.head(20)

Number of rows with invalid zipcodes: 6607

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
7,149500.0,Kailua Kona,HI,96740,487110.0,Corporation,Unanswered,Unanswered,Unanswered,False,18,2020-04-09,First Hawaiian Bank,HI-02
10,149400.0,Honokaa,HI,96727,722310.0,Corporation,Unanswered,Male Owned,Veteran,False,41,2020-04-10,FirstBank,HI-02
11,149392.0,Kilauea,HI,96754,722513.0,Corporation,Unanswered,Unanswered,Unanswered,False,0,2020-05-11,Central Pacific Bank,HI-02
13,149300.0,Puunene,HI,96784,238990.0,Corporation,Unanswered,Unanswered,Unanswered,False,0,2020-05-08,Central Pacific Bank,HI-02
14,149300.0,Lihue,HI,96766,236220.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,False,11,2020-04-06,Central Pacific Bank,HI-02
16,149100.0,Lahaina,HI,96761,713990.0,Corporation,Unanswered,Male Owned,Unanswered,False,76,2020-04-13,First Hawaiian Bank,HI-02
18,149000.0,Kapaa,HI,96746,722511.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,False,26,2020-04-09,First Hawaiian Bank,HI-02
19,148900.0,Kamuela,HI,96743,722310.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,False,13,2020-04-16,First Hawaiian Bank,HI-02
20,148900.0,Hilo,HI,96720,238140.0,Corporation,Unanswered,Male Owned,Non-Veteran,False,17,2020-04-16,First Hawaiian Bank,HI-02
21,148900.0,Kahului,HI,96732,531390.0,Corporation,Unanswered,Unanswered,Unanswered,False,0,2020-05-07,Central Pacific Bank,HI-02
28,148600.0,Mountain View,HI,96771,424690.0,Corporation,Unanswered,Unanswered,Unanswered,False,14,2020-04-07,"American Savings Bank, FSB",HI-02
30,148500.0,Lahaina,HI,96761,561520.0,Corporation,White,Male Owned,Non-Veteran,False,13,2020-04-15,First Hawaiian Bank,HI-02
36,148292.0,Lahaina,HI,96761,722511.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,False,20,2020-05-07,Bank of Hawaii,HI-02
37,148200.0,Kapaa,HI,96746,561612.0,Corporation,Asian,Male Owned,Non-Veteran,False,23,2020-04-15,Central Pacific Bank,HI-02
38,148200.0,Kahului,HI,96732,441320.0,Subchapter S Corporation,Unanswered,Male Owned,Veteran,False,15,2020-04-30,First Hawaiian Bank,HI-02
40,148000.0,Kahului,HI,96732,722513.0,Limited Liability Company(LLC),Unanswered,Female Owned,Non-Veteran,False,28,2020-04-03,"American Savings Bank, FSB",HI-02
45,147800.0,Wailuku,HI,96793,541110.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,False,8,2020-04-27,First Hawaiian Bank,HI-02
47,147700.0,Kailua Kona,HI,96740,561990.0,Limited Liability Company(LLC),Unanswered,Male Owned,Non-Veteran,False,13,2020-04-07,"American Savings Bank, FSB",HI-02
51,147312.5,Lahaina,HI,96761,453920.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,False,12,2020-04-30,First Hawaiian Bank,HI-02
54,147117.5,Lahaina,HI,96761,713990.0,Subchapter S Corporation,Unanswered,Male Owned,Unanswered,False,12,2020-04-27,First Hawaiian Bank,HI-02

In [420]:
# convert DateApproved to datetime
df["DateApproved"] = pd.to_datetime(df["DateApproved"], errors="coerce")

# print the number of rows that have invalid dates
print(
    "Number of rows with invalid dates: "
    + str(df["DateApproved"].isnull().sum())
    + " out of "
    + str(len(df))
)

Number of rows with invalid dates: 0 out of 19342

In [421]:
# convert remaining fields to category
df["City"] = df["City"].astype("category")
df["State"] = df["State"].astype("category")
df["NAICSCode"] = df["NAICSCode"].astype("category")
df["RaceEthnicity"] = df["RaceEthnicity"].astype("category")
df["BusinessType"] = df["BusinessType"].astype("category")
df["Gender"] = df["Gender"].astype("category")
df["Veteran"] = df["Veteran"].astype("category")
df["Lender"] = df["Lender"].astype("category")
df["CD"] = df["CD"].astype("category")

In [422]:
df.head(10)

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,149957.5,Honolulu,HI,96813,238220.0,Corporation,Unanswered,Unanswered,Unanswered,False,14,2020-04-16,First Hawaiian Bank,HI-01
1,149900.0,Honolulu,HI,96814,541990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,True,17,2020-04-08,First Hawaiian Bank,HI-01
2,149800.0,Honolulu,HI,96816,722511.0,Corporation,Asian,Male Owned,Non-Veteran,False,42,2020-04-12,Central Pacific Bank,HI-01
3,149800.0,Honolulu,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,False,27,2020-05-27,"American Savings Bank, FSB",HI-01
4,149700.0,Aiea,HI,96701,621111.0,Limited Liability Partnership,Unanswered,Unanswered,Unanswered,False,10,2020-04-06,"American Savings Bank, FSB",HI-01
7,149500.0,Kailua Kona,HI,96740,487110.0,Corporation,Unanswered,Unanswered,Unanswered,False,18,2020-04-09,First Hawaiian Bank,HI-02
8,149455.0,Mililani,HI,96789,238990.0,Limited Liability Company(LLC),Unanswered,Male Owned,Unanswered,False,15,2020-05-08,Bank of Hawaii,HI-01
9,149400.0,Honolulu,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,False,33,2020-04-10,First Hawaiian Bank,HI-01
10,149400.0,Honokaa,HI,96727,722310.0,Corporation,Unanswered,Male Owned,Veteran,False,41,2020-04-10,FirstBank,HI-02
11,149392.0,Kilauea,HI,96754,722513.0,Corporation,Unanswered,Unanswered,Unanswered,False,0,2020-05-11,Central Pacific Bank,HI-02

# Data Changes

In [423]:
def num_changed_values(col_name):
    og_col = original_df[col_name]
    new_col = df_no_drop_nans[col_name]
    num_changed = 0
    for i in range(len(og_col)):
        if pd.isna(og_col[i]) and pd.isna(new_col[i]):
            continue
        if og_col[i] != new_col[i]:
            num_changed += 1
    return num_changed
for col_name in df.columns:
    print(col_name + ": " + str(num_changed_values(col_name)))

LoanAmount: 0
City: 15511
State: 0
Zip: 0
NAICSCode: 0
BusinessType: 7140
RaceEthnicity: 0
Gender: 0
Veteran: 0
NonProfit: 21904
JobsReported: 0
DateApproved: 0
Lender: 1
CD: 1

In [424]:
def num_unique_values_dif(col_name):
    og_unique = set(original_df[col_name])
    new_unique = set(df_no_drop_nans[col_name])
    try:
        og_unique.remove(np.nan)
    except:
        pass
    try:
        new_unique.remove(np.nan)
    except:
        pass
    
    
    return len(og_unique) - len(new_unique)
for col_name in df.columns:
    print(col_name + ": " + str(num_unique_values_dif(col_name)))

LoanAmount: 0
City: 247
State: 0
Zip: 0
NAICSCode: 0
BusinessType: 0
RaceEthnicity: 0
Gender: 0
Veteran: 0
NonProfit: -1
JobsReported: 2446
DateApproved: 0
Lender: 1
CD: 1

# Data Quality

## 1

In [425]:
# before
pysqldf("SELECT * FROM original_df WHERE City REGEXP '[0-9]+|^[.!?\\-_]$';")

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,113667.50,SUITE 620,HI,96701,621210.0,Corporation,Unanswered,Unanswered,Unanswered,None,7.0,04/30/2020,First Hawaiian Bank,HI-01
1,107397.50,184 Puueo Street,HI,96720,561710.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,12.0,05/01/2020,First Hawaiian Bank,HI-02
2,49442.50,D1,HI,96761,238220.0,Subchapter S Corporation,Unanswered,Male Owned,Non-Veteran,None,4.0,04/15/2020,First Hawaiian Bank,HI-02
3,44000.00,5,HI,96814,541511.0,Corporation,Unanswered,Unanswered,Unanswered,None,2.0,04/04/2020,"American Savings Bank, FSB",HI-01
4,24300.00,_,HI,96749,561499.0,Self-Employed Individuals,Unanswered,Unanswered,Unanswered,None,35.0,04/27/2020,First Hawaiian Bank,HI-02
5,17895.00,Kailua-kona 96740,HI,96740,531390.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,1.0,05/05/2020,WebBank,HI-02
6,17309.57,1137 11th Avenue,HI,96816,453220.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,0.0,04/30/2020,Celtic Bank Corporation,HI-01

In [426]:
# after
pysqldf("SELECT * FROM df WHERE City REGEXP '[0-9]+|^[.!?\\-_]$';")

Empty DataFrame
Columns: [LoanAmount, City, State, Zip, NAICSCode, BusinessType, RaceEthnicity, Gender, Veteran, NonProfit, JobsReported, DateApproved, Lender, CD]
Index: []

## 2

In [427]:
# before
pysqldf("SELECT * FROM original_df WHERE CD NOT IN ('HI-01', 'HI-02');")

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,12500.0,Honolulu,HI,97817,315220.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,1.0,05/03/2020,WebBank,OR-02

In [428]:
# after
pysqldf("SELECT * FROM df WHERE CD NOT IN ('HI-01', 'HI-02');")

Empty DataFrame
Columns: [LoanAmount, City, State, Zip, NAICSCode, BusinessType, RaceEthnicity, Gender, Veteran, NonProfit, JobsReported, DateApproved, Lender, CD]
Index: []

## 3

In [429]:
# before
pysqldf("SELECT * FROM original_df WHERE typeof(JobsReported) != 'real' AND typeof(JobsReported) != 'integer'")

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,149657.00,CAPTAIN COOK,HI,96704,721110.0,Corporation,Unanswered,Male Owned,Non-Veteran,None,None,04/16/2020,Bank of Hawaii,HI-02
1,149615.00,HONOLULU,HI,96816,621210.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,None,None,04/11/2020,Bank of Hawaii,HI-01
2,149320.00,KAHULUI,HI,96732,238220.0,Limited Liability Company(LLC),White,Male Owned,Unanswered,None,None,04/12/2020,Bank of Hawaii,HI-02
3,148595.00,AIEA,HI,96701,531311.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,None,04/15/2020,Bank of Hawaii,HI-01
4,147700.00,HILO,HI,96720,621111.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,None,04/12/2020,Bank of Hawaii,HI-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2442,415.00,HONOLULU,HI,96830,561720.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,None,06/19/2020,Bank of Hawaii,HI-01
2443,325.00,HONOLULU,HI,96813,485999.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,None,05/05/2020,Bank of Hawaii,HI-01
2444,294.57,KAPOLEI,HI,96707,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,None,06/12/2020,Bank of Hawaii,HI-02
2445,255.00,HONOLULU,HI,96819,711410.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,None,None,04/15/2020,Bank of Hawaii,HI-01
2446,89.00,KIHEI,HI,96753,721199.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,None,05/07/2020,Bank of Hawaii,HI-02

In [430]:
# after
pysqldf("SELECT * FROM df WHERE typeof(JobsReported) != 'real' AND typeof(JobsReported) != 'integer'")

Empty DataFrame
Columns: [LoanAmount, City, State, Zip, NAICSCode, BusinessType, RaceEthnicity, Gender, Veteran, NonProfit, JobsReported, DateApproved, Lender, CD]
Index: []

## 4

In [431]:
# before
pysqldf("SELECT * FROM original_df WHERE NonProfit NOT IN (TRUE, FALSE) OR NonProfit IS NULL;")

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsReported,DateApproved,Lender,CD
0,149957.5,HONOLULU,HI,96813,238220.0,Corporation,Unanswered,Unanswered,Unanswered,None,14.0,04/16/2020,First Hawaiian Bank,HI-01
1,149900.0,HONOLULU,HI,96814,541990.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,17.0,04/08/2020,First Hawaiian Bank,HI-01
2,149800.0,HONOLULU,HI,96816,722511.0,Corporation,Asian,Male Owned,Non-Veteran,None,42.0,04/12/2020,Central Pacific Bank,HI-01
3,149800.0,HONOLULU,HI,96815,722511.0,Corporation,Unanswered,Unanswered,Unanswered,None,27.0,05/27/2020,"American Savings Bank, FSB",HI-01
4,149700.0,AIEA,HI,96701,621111.0,Limited Liability Partnership,Unanswered,Unanswered,Unanswered,None,10.0,04/06/2020,"American Savings Bank, FSB",HI-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21899,200.0,EWA BEACH,HI,96706,531210.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,0.0,06/24/2020,Navy FCU,HI-01
21900,117.0,Honolulu,HI,96814,541922.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,1.0,05/13/2020,First Hawaiian Bank,HI-01
21901,104.0,Haiku,HI,96708,561510.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,1.0,05/06/2020,First Hawaiian Bank,HI-02
21902,89.0,KIHEI,HI,96753,721199.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,NaN,05/07/2020,Bank of Hawaii,HI-02
21903,77.0,HONOLULU,HI,96817,524210.0,Sole Proprietorship,Unanswered,Unanswered,Unanswered,None,1.0,08/04/2020,HawaiiUSA FCU,HI-01

In [432]:
# after
pysqldf("SELECT * FROM df WHERE NonProfit NOT IN (TRUE, FALSE) OR NonProfit IS NULL;")

Empty DataFrame
Columns: [LoanAmount, City, State, Zip, NAICSCode, BusinessType, RaceEthnicity, Gender, Veteran, NonProfit, JobsReported, DateApproved, Lender, CD]
Index: []